body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    background-image: url("img/joshua-wilson-9XYBGmatejg-unsplash-cropped.jpg");
    background-clip: border-box;
    font-family: sans-serif;
    line-height: 1.5;
    height: 98vh;
    color: antiquewhite;
}

header {
    display: grid;
    grid-area: 1 / 1 / 7 / 2;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    grid-area: 2 / 1 / 7 / 2;
}

button {
    background-color: inherit;
    border: none;
    color:  inherit;
    justify-items: left;
}

.title-name {
    color: #a9c8c8;
}

/* #fc6454 #0c8c88 #fbc279 #62a370 #314d5c # */

#content {
    grid-area: 2 / 2 / 7 / 6;
    color: inherit;
    font-size: small;
}

a {
    color: inherit;
}